@font-face {
  font-family: 'Arvo';
  src:
    url('../fonts/Arvo-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo';
  src:
    url('../fonts/Arvo-Italic.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo';
  src:
    url('../fonts/Arvo-Bold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family 'Arvo';
  src:
    url('../fonts/Arvo-BoldItalic.ttf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family 'Quicksand';
  src:
    url('../fonts/Quicksand-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family 'Quicksand';
  src:
    url('../fonts/Quicksand-Bold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
    font-family: 'Carrington';
    src:
      url('Carrington-webfont.woff2') format('woff2'),
      url('Carrington-webfont.woff') format('woff'),
      url('Carrington-webfont.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
